h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration:brown;
 text-decoration-line:underline;
 width: 100%;
 font-size: 78pt;
}
h2{
    color:rgb(118, 28, 28);
    text-align: center;
    font: size 63pt;
    font-style: italic, bold;
    text-shadow: 0dvw;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
    font-size: 50pt;
}

#FAYROUZ{
align-content: center;
position: relative;
}

body{
    background: rgb(211, 189, 80);
    text-align: center;
    font-size: 35pt;
}
#Email{
    color: brown;
    font-size: 35pt;
}